
<!DOCTYPE html>
<html>
<head>
<style>


</style>
</head>
<body>
  <h1>customer Table</h1>
  <table id="customers">
  <tr>
    <th>customer Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
  </tr>
<div *ngFor="let customer of customers">
  {{productItem.name}}
</div>

  <tr>
    <td>{{customer.customer_id}}</td>
    <td>{{customer.first_name}}</td>
    <td>{{customer.last_name}}</td>
    <td>{{customer.email}}</td>



  </tr>
</table>

</body>
</html>
